/* for the entire project */
.body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
 
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

/* for section */
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 60px 0;
}

/* #region navigation, top of page */
.header{
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-logo{
    padding: 24px 0;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.accent{
    color: #2e2f42;
}

.nav-list .link-nav{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-list .link-nav:hover{
    color: #404bbf;
}
.nav-list .link-nav:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
}

.address-list .address-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list .address-link:hover{
    color: #404bbf;
}

.address-list .address-link:focus{
    color: #404bbf;
}

/* #endregion navigation, top of page */

/* #region main page */

/* #region first page */
.first-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
            url(../images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
                
}

.container-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-text {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-transform: capitalize;
}

.button {
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}

/* #endregion first page */

/* #region list page  */

.list-section {
    padding: 120px 0;
}

.visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }

.section-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.section-item {
    width: calc((100% - 72px) / 4);
}


.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-icons-item {
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    padding: 24px 100px;
    border-radius: 4px;
    margin-bottom: 8px;

}

.list-text-simple {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

/* #endregion list page  */

/* #region Our team page */
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
    display: flex;
}

.h-second-text {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-team {
    display: flex;
    justify-content: center;
    gap: 24px;
    justify-content: space-between;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-team-card {
    padding: 32px 0;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.icons {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.icon-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #F4F4FD;
}

.icons:hover {
    background-color: #404BBF;
}

.icons:focus {
    background-color: #404BBF;
}

/* #endregion Our team page */

/* #region Our Portfolio page */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-main-text {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-portfolio{
    display: flex;
    justify-content: center;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
}

.item-portfolio {
    width: calc((100% - 48px) / 3);
    max-width: 360px;
}

.portfolio-text {
    display: block;
    width: 360px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;

}

.h-third-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-simple {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion Our Portfolio page */

/* #endregion main page */

/* #region end of page */
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2f42;
}

.footer-container {
    display: block;
}

.nav-logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    flex-shrink: 0;
    max-width: 115px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.accent-footer {
    color: #f4f4fd;
}

.footer-text{
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

/* #endregion end of page */